<%- include('layouts/header') %>
<h1 class="text-center" style="margin-top: 20vh">Welcome to Cungur App!</h1>
<div class="container mt-5" style="height: 70vh">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <p>New here? <a href="/">Register</a></p>
        <a href="/home" class="btn btn-primary">Log in</a>
      </form>
    </div>
  </div>
</div>
<%- include('layouts/footer') %>
